<ion-header>
  <ion-toolbar>
    <ion-title>Ubicación Actual</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="container">
  <div *ngIf="latitude !== null && longitude !== null">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Coordenadas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Latitud:</strong> {{ latitude }}</p>
        <p><strong>Longitud:</strong> {{ longitude }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="latitude === null && longitude === null">
    <p>Obteniendo ubicación...</p>
  </div>

  <ion-button expand="full" color="primary" (click)="getCurrentLocation()">Obtener Ubicación</ion-button>
  <ion-button expand="full" color="success" [disabled]="!url" (click)="abrirMapa()">Abrir en Google Maps</ion-button>

  <div style="margin-top: 20px;">
    <ion-input
      placeholder="Tu nombre"
      [(ngModel)]="nombre"
      label="Nombre:"
      labelPlacement="floating"
    ></ion-input>

    <ion-button expand="full" color="primary" (click)="guardarEnFirebase()">
      Guardar en Firebase
    </ion-button>
  </div>
</ion-content>